@model AT_System.Models.FI03_AT_FlowMaster

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>FI03_AT_FlowMaster</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Client)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Client)
            @Html.ValidationMessageFor(model => model.Client)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AutoRun)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AutoRun)
            @Html.ValidationMessageFor(model => model.AutoRun)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FI03_AT_RecCostCenter)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FI03_AT_RecCostCenter)
            @Html.ValidationMessageFor(model => model.FI03_AT_RecCostCenter)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StepNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StepNo)
            @Html.ValidationMessageFor(model => model.StepNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmpID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmpID)
            @Html.ValidationMessageFor(model => model.EmpID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
